USE [sapori_bdd]
GO
/****** Object:  Table [dbo].[alumno_curso]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumno_curso](
	[alumno_id] [bigint] NOT NULL,
	[curso_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[codigo_seguridad] [int] NOT NULL,
	[id] [bigint] NOT NULL,
	[dni_dorso_url] [varchar](255) NULL,
	[dni_frente_url] [varchar](255) NULL,
	[fecha_caducidad] [varchar](255) NULL,
	[nombre_completo] [varchar](255) NULL,
	[num_tarjeta_credito] [varchar](255) NULL,
	[numero_tramitedni] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asistencias]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asistencias](
	[clase] [int] NOT NULL,
	[alumno_id] [bigint] NOT NULL,
	[curso_id] [bigint] NOT NULL,
	[fecha] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[asistencia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comentarios_valoraciones]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentarios_valoraciones](
	[puntaje] [int] NULL,
	[fecha] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[receta_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[texto_comentario] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas_corrientes]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_corrientes](
	[total_facturas] [real] NULL,
	[alumno_id] [bigint] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[saldo_favor] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKk58h6n8p9gg3fxfdmc5xkhpyk] UNIQUE NONCLUSTERED 
(
	[alumno_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso_fotos]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso_fotos](
	[curso_id] [bigint] NOT NULL,
	[url_foto] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso_inscripcion]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso_inscripcion](
	[alumno_id] [bigint] NOT NULL,
	[curso_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso_sede]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso_sede](
	[capacidad] [int] NOT NULL,
	[descuento] [int] NOT NULL,
	[hay_descuento] [bit] NOT NULL,
	[vacantes_disponibles] [int] NULL,
	[curso_id] [bigint] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sede_id] [bigint] NOT NULL,
	[cursada_horario_dia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cursos]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cursos](
	[duracion] [int] NOT NULL,
	[importe] [real] NULL,
	[fecha_fin] [datetime2](6) NULL,
	[fecha_inicio] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](4000) NULL,
	[objetivo] [varchar](4000) NULL,
	[requisitos] [varchar](4000) NULL,
	[temario] [varchar](4000) NULL,
	[estado_curso] [varchar](255) NULL,
	[modalidad] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredientes]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredientes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[imagen_url] [varchar](255) NULL,
	[nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKmswp95l2180nvkxkl3hoge6fy] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredientes_receta]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredientes_receta](
	[cantidad] [float] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ingrediente_id] [bigint] NULL,
	[receta_id] [bigint] NULL,
	[unidad] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inscripciones]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inscripciones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](255) NULL,
	[fecha_inscripcion] [datetime2](6) NULL,
	[alumno_id] [bigint] NULL,
	[curso_id] [bigint] NULL,
	[curso_sede_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materiales_clase]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materiales_clase](
	[tamanio] [int] NOT NULL,
	[curso_id] [bigint] NULL,
	[fecha] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[archivo_url] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[importe] [real] NOT NULL,
	[cuenta_corriente_id] [bigint] NULL,
	[curso_id] [bigint] NULL,
	[fecha_inicio_curso] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sede_id] [bigint] NULL,
	[estado] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paso_media]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paso_media](
	[paso_id] [bigint] NOT NULL,
	[url_media] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pasos_receta]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pasos_receta](
	[numero_paso] [int] NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[receta_id] [bigint] NULL,
	[descripcion] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[practicas_curso]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[practicas_curso](
	[curso_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[lista] [varchar](4000) NULL,
	[icono_titulo_url] [varchar](255) NULL,
	[titulo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receta_fotos]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receta_fotos](
	[receta_id] [bigint] NOT NULL,
	[url_foto] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetas]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetas](
	[calificacion] [float] NULL,
	[porciones] [int] NOT NULL,
	[tiempo] [int] NULL,
	[fecha_creacion] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [bigint] NULL,
	[descripcion] [varchar](2000) NULL,
	[estado] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[tipo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetas_calculadas]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetas_calculadas](
	[porciones] [int] NULL,
	[tipo_calculado] [bit] NULL,
	[fecha_creacion] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[receta_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[nombre] [varchar](255) NULL,
	[ingredientes_escalados_json] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recetas_favoritas]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recetas_favoritas](
	[fecha_agregado] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[receta_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sede_fotos]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sede_fotos](
	[sede_id] [bigint] NOT NULL,
	[url_foto] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sedes]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sedes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[zona] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_receta_intento]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_receta_intento](
	[receta_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 01/07/2025 15:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[activo] [bit] NOT NULL,
	[es_alumno] [bit] NOT NULL,
	[registro_completo] [bit] NOT NULL,
	[fecha_expiracion_codigo] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[alias] [varchar](255) NULL,
	[apellido] [varchar](255) NULL,
	[codigo_registro] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[foto_perfil] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alumno_curso]  WITH CHECK ADD  CONSTRAINT [FKca9el3ms65fehg4ok8jjrno1r] FOREIGN KEY([alumno_id])
REFERENCES [dbo].[alumnos] ([id])
GO
ALTER TABLE [dbo].[alumno_curso] CHECK CONSTRAINT [FKca9el3ms65fehg4ok8jjrno1r]
GO
ALTER TABLE [dbo].[alumno_curso]  WITH CHECK ADD  CONSTRAINT [FKnvuvfnn2622un1dhnw2gjapn8] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[alumno_curso] CHECK CONSTRAINT [FKnvuvfnn2622un1dhnw2gjapn8]
GO
ALTER TABLE [dbo].[alumnos]  WITH CHECK ADD  CONSTRAINT [FK4kb1nf96cr2g4p6b5k2wxmvu2] FOREIGN KEY([id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[alumnos] CHECK CONSTRAINT [FK4kb1nf96cr2g4p6b5k2wxmvu2]
GO
ALTER TABLE [dbo].[asistencias]  WITH CHECK ADD  CONSTRAINT [FK8fdecq4ahntfar7423pe20f0n] FOREIGN KEY([alumno_id])
REFERENCES [dbo].[alumnos] ([id])
GO
ALTER TABLE [dbo].[asistencias] CHECK CONSTRAINT [FK8fdecq4ahntfar7423pe20f0n]
GO
ALTER TABLE [dbo].[asistencias]  WITH CHECK ADD  CONSTRAINT [FKqe8prx2o8fr4qylhqgakdtvia] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[asistencias] CHECK CONSTRAINT [FKqe8prx2o8fr4qylhqgakdtvia]
GO
ALTER TABLE [dbo].[comentarios_valoraciones]  WITH CHECK ADD  CONSTRAINT [FK3om1wwhxuy15l9vawjys7lptv] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[comentarios_valoraciones] CHECK CONSTRAINT [FK3om1wwhxuy15l9vawjys7lptv]
GO
ALTER TABLE [dbo].[comentarios_valoraciones]  WITH CHECK ADD  CONSTRAINT [FKgitjo4s6w6lj36fh15ibp1o67] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[comentarios_valoraciones] CHECK CONSTRAINT [FKgitjo4s6w6lj36fh15ibp1o67]
GO
ALTER TABLE [dbo].[cuentas_corrientes]  WITH CHECK ADD  CONSTRAINT [FK4ajg6q6a5tnvh6aghqemvw0si] FOREIGN KEY([alumno_id])
REFERENCES [dbo].[alumnos] ([id])
GO
ALTER TABLE [dbo].[cuentas_corrientes] CHECK CONSTRAINT [FK4ajg6q6a5tnvh6aghqemvw0si]
GO
ALTER TABLE [dbo].[curso_fotos]  WITH CHECK ADD  CONSTRAINT [FKdt62t7x3iq2vepy5n9c0y38kd] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[curso_fotos] CHECK CONSTRAINT [FKdt62t7x3iq2vepy5n9c0y38kd]
GO
ALTER TABLE [dbo].[curso_inscripcion]  WITH CHECK ADD  CONSTRAINT [FKagbvla8wtl9j9c3bcxt33tihm] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[curso_inscripcion] CHECK CONSTRAINT [FKagbvla8wtl9j9c3bcxt33tihm]
GO
ALTER TABLE [dbo].[curso_inscripcion]  WITH CHECK ADD  CONSTRAINT [FKbyg7tsa3f8myalpwvvfqkli90] FOREIGN KEY([alumno_id])
REFERENCES [dbo].[alumnos] ([id])
GO
ALTER TABLE [dbo].[curso_inscripcion] CHECK CONSTRAINT [FKbyg7tsa3f8myalpwvvfqkli90]
GO
ALTER TABLE [dbo].[curso_sede]  WITH CHECK ADD  CONSTRAINT [FKj12moxyck2bcc0r3nr5s45hqm] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[curso_sede] CHECK CONSTRAINT [FKj12moxyck2bcc0r3nr5s45hqm]
GO
ALTER TABLE [dbo].[curso_sede]  WITH CHECK ADD  CONSTRAINT [FKtj84a8f7il5e3wtmjbe13wqqs] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
GO
ALTER TABLE [dbo].[curso_sede] CHECK CONSTRAINT [FKtj84a8f7il5e3wtmjbe13wqqs]
GO
ALTER TABLE [dbo].[ingredientes_receta]  WITH CHECK ADD  CONSTRAINT [FK3jm6n8yxkqv42coqftmljyw57] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[ingredientes_receta] CHECK CONSTRAINT [FK3jm6n8yxkqv42coqftmljyw57]
GO
ALTER TABLE [dbo].[ingredientes_receta]  WITH CHECK ADD  CONSTRAINT [FKehmmo77y3f90pmnluw1vk8pff] FOREIGN KEY([ingrediente_id])
REFERENCES [dbo].[ingredientes] ([id])
GO
ALTER TABLE [dbo].[ingredientes_receta] CHECK CONSTRAINT [FKehmmo77y3f90pmnluw1vk8pff]
GO
ALTER TABLE [dbo].[inscripciones]  WITH CHECK ADD  CONSTRAINT [FKeil6g011skmwvhuklpwwxnpdv] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[inscripciones] CHECK CONSTRAINT [FKeil6g011skmwvhuklpwwxnpdv]
GO
ALTER TABLE [dbo].[inscripciones]  WITH CHECK ADD  CONSTRAINT [FKeoagpvj0ridvnjdvoddem6dac] FOREIGN KEY([curso_sede_id])
REFERENCES [dbo].[curso_sede] ([id])
GO
ALTER TABLE [dbo].[inscripciones] CHECK CONSTRAINT [FKeoagpvj0ridvnjdvoddem6dac]
GO
ALTER TABLE [dbo].[inscripciones]  WITH CHECK ADD  CONSTRAINT [FKkvw4t2x22abixq6y5kvdps4lm] FOREIGN KEY([alumno_id])
REFERENCES [dbo].[alumnos] ([id])
GO
ALTER TABLE [dbo].[inscripciones] CHECK CONSTRAINT [FKkvw4t2x22abixq6y5kvdps4lm]
GO
ALTER TABLE [dbo].[materiales_clase]  WITH CHECK ADD  CONSTRAINT [FK27kxbpkxm87eau0ln9xvrl6s5] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[materiales_clase] CHECK CONSTRAINT [FK27kxbpkxm87eau0ln9xvrl6s5]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK3avxv4d9223u6qpxx123cguxc] FOREIGN KEY([cuenta_corriente_id])
REFERENCES [dbo].[cuentas_corrientes] ([id])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK3avxv4d9223u6qpxx123cguxc]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FKh23j4cjd423uhf2nvtq40ubb2] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FKh23j4cjd423uhf2nvtq40ubb2]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FKtf1dkqd79o5ycd6jhdrg3iahh] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FKtf1dkqd79o5ycd6jhdrg3iahh]
GO
ALTER TABLE [dbo].[paso_media]  WITH CHECK ADD  CONSTRAINT [FKqfq8hljuhhomad4g6nv7s8rwv] FOREIGN KEY([paso_id])
REFERENCES [dbo].[pasos_receta] ([id])
GO
ALTER TABLE [dbo].[paso_media] CHECK CONSTRAINT [FKqfq8hljuhhomad4g6nv7s8rwv]
GO
ALTER TABLE [dbo].[pasos_receta]  WITH CHECK ADD  CONSTRAINT [FKmu25f34pdtmj26q011qgwn3g1] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[pasos_receta] CHECK CONSTRAINT [FKmu25f34pdtmj26q011qgwn3g1]
GO
ALTER TABLE [dbo].[practicas_curso]  WITH CHECK ADD  CONSTRAINT [FK3lwo5j8la48mna8gjghmcnnx3] FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[practicas_curso] CHECK CONSTRAINT [FK3lwo5j8la48mna8gjghmcnnx3]
GO
ALTER TABLE [dbo].[receta_fotos]  WITH CHECK ADD  CONSTRAINT [FKp7ugih48ep4od9s2pu276dby3] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[receta_fotos] CHECK CONSTRAINT [FKp7ugih48ep4od9s2pu276dby3]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD  CONSTRAINT [FK5den0yfgja9aa8ldx0ke9c3j] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[recetas] CHECK CONSTRAINT [FK5den0yfgja9aa8ldx0ke9c3j]
GO
ALTER TABLE [dbo].[recetas_calculadas]  WITH CHECK ADD  CONSTRAINT [FK5p1krmnd75helk2aumf36qiqg] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[recetas_calculadas] CHECK CONSTRAINT [FK5p1krmnd75helk2aumf36qiqg]
GO
ALTER TABLE [dbo].[recetas_calculadas]  WITH CHECK ADD  CONSTRAINT [FKhycc3kptchkb43bfehinaq7yy] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[recetas_calculadas] CHECK CONSTRAINT [FKhycc3kptchkb43bfehinaq7yy]
GO
ALTER TABLE [dbo].[recetas_favoritas]  WITH CHECK ADD  CONSTRAINT [FKeff9eotw0nejkat3qoq8v4s01] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[recetas_favoritas] CHECK CONSTRAINT [FKeff9eotw0nejkat3qoq8v4s01]
GO
ALTER TABLE [dbo].[recetas_favoritas]  WITH CHECK ADD  CONSTRAINT [FKl2p34wbiw7ce1djqn8ldiko7p] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[recetas_favoritas] CHECK CONSTRAINT [FKl2p34wbiw7ce1djqn8ldiko7p]
GO
ALTER TABLE [dbo].[sede_fotos]  WITH CHECK ADD  CONSTRAINT [FK12u4vcvs7vxki6e4lcmq9vio1] FOREIGN KEY([sede_id])
REFERENCES [dbo].[sedes] ([id])
GO
ALTER TABLE [dbo].[sede_fotos] CHECK CONSTRAINT [FK12u4vcvs7vxki6e4lcmq9vio1]
GO
ALTER TABLE [dbo].[usuario_receta_intento]  WITH CHECK ADD  CONSTRAINT [FKn2wic8op1l2n6iga1hld0s0ng] FOREIGN KEY([receta_id])
REFERENCES [dbo].[recetas] ([id])
GO
ALTER TABLE [dbo].[usuario_receta_intento] CHECK CONSTRAINT [FKn2wic8op1l2n6iga1hld0s0ng]
GO
ALTER TABLE [dbo].[usuario_receta_intento]  WITH CHECK ADD  CONSTRAINT [FKtrgg2i8xo4ruvtf8yyy0onjke] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[usuario_receta_intento] CHECK CONSTRAINT [FKtrgg2i8xo4ruvtf8yyy0onjke]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD CHECK  (([estado_curso]='PROXIMAMENTE' OR [estado_curso]='FINALIZADO' OR [estado_curso]='EN_CURSO'))
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD CHECK  (([modalidad]='VIRTUAL' OR [modalidad]='PRESENCIAL'))
GO
ALTER TABLE [dbo].[inscripciones]  WITH CHECK ADD CHECK  (([estado]='FINALIZADA' OR [estado]='BAJA' OR [estado]='ACTIVA'))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [CK__pagos__estado__2BFE89A6] CHECK  (([estado]='REEMBOLSADO' OR [estado]='PAGO' OR [estado]='A_PAGAR'))
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [CK__pagos__estado__2BFE89A6]
GO
ALTER TABLE [dbo].[recetas]  WITH CHECK ADD CHECK  (([estado]='rechazada' OR [estado]='aprobada' OR [estado]='pendiente' OR [estado]='RECHAZADA' OR [estado]='APROBADA' OR [estado]='PENDIENTE'))
GO
